{% extends "layout.html" %}
{% block title %}Nuestro menu - Roberto's Heladería{% endblock %}
{% block body %}
	<table border="1" id="tabla">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>description</th>
			<th>price</th>
			<th>edit_</th>
		</tr>
		{% for linea in lineas %}
		<tr>
			{% for item in linea %}
				<td>{{ item }}</td>
			{% endfor %}
				<td>
					<img alt="Edit?" src="{{ imgEdit }}" height="50px" style="color: green;">
					<img alt="Delete?" src="{{ imgDelete }}" height="50px" style="color red;">
				</td>
		</tr>
		{% endfor %}
	</table>

	<br/>

	<!-- Mostramos el formulario con el siguiente boton -->
	<button id="boton-agregar">Agregar producto</button>

	<form action="{{ url_for("insertarDatos") }}" method="post" id="formulario-insertar" style="display: none">
	<!-- Mantenemos este formulario oculto -->
		<input type="text" name="add-name">
		<input type="text" name="add-description">
		<input type="number" step="0.01" name="add-price">
		<input type="submit" value="Enviar Datos a agregar">
	</form>

	<script>

lista = document.getElementsByTagName("tr");

for (let i = 0; i < lista.length; i++) {
	// Asignar id a cada elemento tr de la tabla
	if (i != 0) {
		// buscamos entre cada td de nuestra fila de datos
		elementosId = lista[i].getElementsByTagName("td");
		// el id del elemento en la base de datos
		nroId = elementosId[0].innerHTML;
		// la asignamos como id de la fila de la tabla (tr)
		lista[i].setAttribute("id", nroId);
	}
};

// Procedemos a mostrar el formulario para insertar datos

function mostrarElemen() {
	// Funcion para mostrar formulario
	formularioInsertar = document.getElementById("formulario-insertar");
	formularioInsertar.setAttribute("style", "display: block");
};
// Mostramos el formulario
boton = document.getElementById("boton-agregar");
boton.addEventListener("click", mostrarElemen);
	</script>
{% endblock %}
