{% extends "layout.html" %}
{% block title %}Nuestro menu - Roberto's Heladería{% endblock %}
{% block body %}
	<table border="1" id="tabla">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>description</th>
			<th>price</th>
			<th>edit?</th>
		</tr>
		{% for linea in lineas %}
		<tr>
			{% for item in linea %}
				<td>{{ item }}</td>
			{% endfor %}
				<td>
					<button class="boton-editar">
						<img alt="Edit?" src="{{ imgEdit }}" height="50px">
					</button>
					<button class="boton-eliminar">
						<img alt="Delete?" src="{{ imgDelete }}" height="50px">
					</button>
				</td>
		</tr>
		{% endfor %}
	</table>

	<br/>

	<!-- Mostramos el formulario con el siguiente boton -->
	<button id="boton-agregar">Agregar producto</button>

	<form action="{{ url_for("insertarDatos") }}" method="post" id="formulario-insertar" style="display: none">
	<!-- Mantenemos este formulario oculto -->
		<input type="text" name="add-name">
		<input type="text" name="add-description">
		<input type="number" step="0.01" name="add-price">
		<input type="submit" value="Enviar Datos a agregar">
	</form>

	<form action="{{ url_for("editarDatos") }}" method="post" id="formulario-editar" style="display: none;">
		<input type="text" name="edit-id" value="0" readonly>
		<input type="text" name="edit-name" value="0">
		<input type="hidden" name="old-name" value="0"/>
		<input type="text" name="edit-description" value="0">
		<input type="hidden" name="old-description" value="0"/>
		<input type="number" step="0.01" name="edit-price" value="0">
		<input type="hidden" name="old-price" value="0"/>
		<input type="hidden" name="edit-mode" value="0">
        <!-- <input type="reset" value="limpiar datos del formulario"> -->
        <input type="reset" value="Limpiar datos del formulario"/>
		<input type="submit" value="Enviar datos a editar">
	</form>

    <form>
        <input type="text" name="del-id" readonly/>
        <input type="text" name="del-name" readonly/>
        <input type="text" name="del-description" readonly/>
        <input type="number" step="0.01" name="del-price" readonly/>
        <input type="submit" value="Eliminar datos"/>
    </form>

	<script>

lista = document.getElementsByTagName("tr");

for (let i = 0; i < lista.length; i++) {
	// Asignar id a cada elemento tr de la tabla
	if (i != 0) {
		// buscamos entre cada td de nuestra fila de datos
		elementosId = lista[i].getElementsByTagName("td");
		// el id del elemento en la base de datos
		// nroId = elementosId[0].innerHTML;
		nroId = i;
		// la asignamos como id de la fila de la tabla (tr)
		lista[i].setAttribute("id", "fila" + nroId);
	}
};

// Procedemos a mostrar el formulario para insertar datos

botonInsertar = document.getElementById("boton-agregar");
formularioInsertar = document.getElementById("formulario-insertar");
botonInsertar.addEventListener("click", () => {
	formularioInsertar.setAttribute("style", "display: block")
});

// Seleccionamos formulario editar
formularioEditar = document.getElementById("formulario-editar");

/*
// Creamos el boton reset
botonReset = document.getElementById("boton-reset");
function resetForm() {
    // Reseteamos los botones del formulario
    botonesForm = formularioEditar.getElementsByTagName("input");
    console.log("limpiando datos")
    for (let i = 0; i < botonesForm.lenght; i++) {
        botonesForm[i].setAttribute("value", "a");
        if (i === 0) {
            botonesForm[i].setAttribute("readonly", "true");
        } else {
            botonesForm[i].removeAttribute("readonly");
        }
    }
}

botonReset.addEventListener("click", () => {
    console.log("limpiando");
    document.getElementById("formulario-editar").reset();
});
*/

// Procedemos a mostrar el formulario para editar datos

botonesEditar = document.getElementsByClassName("boton-editar");
for (let i = 0; i < botonesEditar.length; i++) {
	// Agregamos el listener a cada boton
	botonesEditar[i].addEventListener ("click", () => {
		// Rellenaremos el formulario con los datos que queremos editar
		console.log("presionado el boton: " + i);
		// Primero seleccionamos los datos de la fila seleccionada
		seleccionFila = i + 1;
		filaTabla = document.getElementById("fila" + seleccionFila);
		datosFila = filaTabla.getElementsByTagName("td");
		console.log(datosFila); // Debug
		// Seleccionamos los datos para agregarlos al formulario
		idEditar = datosFila[0].innerHTML;
		nameEditar = datosFila[1].innerHTML;
		descriptionEditar = datosFila[2].innerHTML;
		priceEditar = datosFila[3].innerHTML
		// Insertamos los datos en el formulario
		inputsFormulario = formularioEditar.getElementsByTagName("input");

		inputsFormulario[0].setAttribute("value", idEditar);	// id
		inputsFormulario[1].setAttribute("value", nameEditar);	// name
		inputsFormulario[2].setAttribute("value", nameEditar);	// old name
		inputsFormulario[3].setAttribute("value", descriptionEditar);	// description
		inputsFormulario[4].setAttribute("value", descriptionEditar);	// old description
		inputsFormulario[5].setAttribute("value", priceEditar);	// price
		inputsFormulario[6].setAttribute("value", priceEditar);	// old price

		inputsFormulario[7].setAttribute("value", "editar");	// modo de edición

        // Para evitar bugs
        for (let i = 1; i < inputsFormulario.length; i++) {
            // Eliminaremos readonly para todos los inputs, excepto el id
            inputsFormulario[i].removeAttribute("readonly");
        };
		formularioEditar.setAttribute("style", "display: block");
	});
}

// Procedemos a mostrar el formularioEditar en modo de eliminación

botonesEliminar = document.getElementsByClassName("boton-eliminar");
for (let i = 0; i < botonesEliminar.length; i++) {
    // Agregamos el listener a cada boton
    botonesEliminar[i].addEventListener ("click", () => {
        // Rellenamos el formulario con los datos a eliminar
        console.log("Presionado el botón: " + i);
        // Seleccionamos los datos de la fila seleccionada
        seleccionFila = i + 1;
        filaTabla = document.getElementById("fila" + seleccionFila);
        datosFila = filaTabla.getElementsByTagName("td");
        console.log(datosFila); // Debug
        // Seleccionamos los datos para agregarlos al formulario
        idEliminar = datosFila[0].innerHTML;
        nameEliminar = datosFila[1].innerHTML;
        descriptionEliminar = datosFila[2].innerHTML;
        priceEliminar = datosFila[3].innerHTML;
        // Insertamos los datos al formulario
        inputsFormulario = formularioEditar.getElementsByTagName("input");

        inputsFormulario[0].setAttribute("value", idEliminar);  // id
        inputsFormulario[1].setAttribute("value", nameEliminar);    // name
        inputsFormulario[3].setAttribute("value", descriptionEliminar); // Description
        inputsFormulario[5].setAttribute("value", priceEliminar);   // price

        inputsFormulario[7].setAttribute("value", "eliminar");  // Modo de edición

        formularioEditar.setAttribute("style", "display: block");

        for (let i = 0; i < inputsFormulario.length; i++) {
            // Colocaremos como solo lectura los inputs
            inputsFormulario[i].setAttribute("readonly", true);
        };
    });
}

	</script>
{% endblock %}
